/*****************************************HEADER************************************/

header nav {
    background-color: #2CDCF5 !important;
    
}

header a {
    color: #000000 !important;
    font-family: 'Roboto Slab', sans-serif;
}

a {
    text-decoration: none;
}
  
a:not(.navbar-brand):hover {
    border-bottom: 1px solid blue;
    text-decoration: none;
}


/*****************************************MAIN************************************/

/*parte1*/

.container-fluid {
    padding: 0;
}

